# Terraform compiled files and directories
terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform.tfstate.d/
.terragrunt-cache

# User state
.filecache
.env
*.tfvars
Pipfile

# ci
tardigrade-ci
.tardigrade-ci

# terraform lock file
.terraform.lock.hcl

# Cache created by pytest
tests/__pycache__/
