{%- from 'main.jinja' import source_s3_uris with context %}

{%- set file_keys = [] %}
{%- set file_etags = [] %}
{%- set hash_keys = [] %}
{%- set hash_etags = [] %}

{%- for uri in uri_map.keys() -%}
    {%- do file_keys.append("aws_s3_bucket_object.file_" ~ uri | sha256 ~ ".key") %}
    {%- do file_etags.append("aws_s3_bucket_object.file_" ~ uri | sha256 ~ ".etag") %}
    {%- do hash_keys.append("aws_s3_bucket_object.file_" ~ uri | sha256 ~ ".key") %}
    {%- do hash_etags.append("aws_s3_bucket_object.file_" ~ uri | sha256 ~ ".etag") %}
{%- endfor -%}

{% for uri in source_s3_uris %}
    {%- do file_keys.append("aws_s3_bucket_object.file_" ~ uri | sha256 ~ ".key") %}
    {%- do file_etags.append("aws_s3_bucket_object.file_" ~ uri | sha256 ~ ".etag") %}
{%- endfor -%}

output "bucket_name" {
  description = "Name of the S3 Bucket"
  value       = "${join("", aws_s3_bucket.this.*.id)}"
}

output "file_keys" {
  description = "List of file keys created in the S3 bucket"
  value       = "${list({{ file_keys | join(", ") }})}"
}

output "file_etags" {
 description = "List of file ETags generated for each object in the bucket"
 value       = "${list({{ file_etags | join(", ") }})}"
}

output "hash_keys" {
  description = "List of hash keys created in the S3 bucket"
  value       = "${list({{ hash_keys | join(", ") }})}"
}

output "hash_etags" {
  description = "List of hash ETags generated for each object in the bucket"
  value       = "${list({{ hash_etags | join(", ") }})}"
}

output "public_ip" {
  description = "Public IP of the salt-reposync EC2 instance"
  value       = "${module.salt_reposync.public_ip}"
}

output "private_key" {
  description = "Private key for the salt-reposync keypair"
  value       = "${module.salt_reposync.private_key}"
}
